# Despesas - Autorizações de Pagamento do Governo do Estado da Paraíba
## De Janeiro/2021 a Junho/2021

In [ ]:
# Instalação pacotes

!pip install pandas
!pip install PyMySQL
!pip install SQLAlchemy

In [1]:
import pandas as pd

In [2]:
# Carregar CSVs em data frame do pandas

df1 = pd.read_csv('../data/pagamento_exercicio_2021_mes_1.csv', encoding='ISO-8859-1',sep=';')
df2 = pd.read_csv('../data/pagamento_exercicio_2021_mes_2.csv', encoding='ISO-8859-1',sep=';')
df3 = pd.read_csv('../data/pagamento_exercicio_2021_mes_3.csv', encoding='ISO-8859-1',sep=';')
df4 = pd.read_csv('../data/pagamento_exercicio_2021_mes_4.csv', encoding='ISO-8859-1',sep=';')
df5 = pd.read_csv('../data/pagamento_exercicio_2021_mes_5.csv', encoding='ISO-8859-1',sep=';')
df6 = pd.read_csv('../data/pagamento_exercicio_2021_mes_6.csv', encoding='ISO-8859-1',sep=';')

In [3]:
# Concatenar todos os dataframes

df = pd.concat([df1, df2, df3, df4, df5, df6])

## Realização de análises e transformações

In [4]:
# Exibir as colunas

df.columns

Index(['EXERCICIO', 'CODIGO_UNIDADE_GESTORA', 'NUMERO_EMPENHO',
       'NUMERO_AUTORIZACAO_PAGAMENTO', 'TIPO_DESPESA', 'DATA_PAGAMENTO',
       'VALOR_PAGAMENTO', 'CODIGO_TIPO_DOCUMENTO', 'DESCRICAO_TIPO_DOCUMENTO',
       'NOME_CREDOR', 'CPFCNPJ_CREDOR', 'TIPO_CREDOR'],
      dtype='object')

In [5]:
# Exibir quantidade de linhas e colunas

df.shape

(171128, 12)

In [6]:
# Exibir tipos das colunas

df.dtypes

EXERCICIO                         int64
CODIGO_UNIDADE_GESTORA            int64
NUMERO_EMPENHO                  float64
NUMERO_AUTORIZACAO_PAGAMENTO      int64
TIPO_DESPESA                     object
DATA_PAGAMENTO                   object
VALOR_PAGAMENTO                 float64
CODIGO_TIPO_DOCUMENTO            object
DESCRICAO_TIPO_DOCUMENTO         object
NOME_CREDOR                      object
CPFCNPJ_CREDOR                   object
TIPO_CREDOR                      object
dtype: object

In [7]:
# Converter coluna (DATA_PAGAMENTO) em datetime
# Converter colunas (EXERCICIO, CODIGO_UNIDADE_GESTORA, NUMERO_EMPENHO, NUMERO_AUTORIZACAO_PAGAMENTO) em object

df["DATA_PAGAMENTO"] = pd.to_datetime(df["DATA_PAGAMENTO"])
df["EXERCICIO"] = df["EXERCICIO"].astype("object")
df["CODIGO_UNIDADE_GESTORA"] = df["CODIGO_UNIDADE_GESTORA"].astype("object")
df["NUMERO_EMPENHO"] = df["CODIGO_UNIDADE_GESTORA"].astype("object")
df["NUMERO_AUTORIZACAO_PAGAMENTO"] = df["NUMERO_AUTORIZACAO_PAGAMENTO"].astype("object")

In [8]:
# Exibir tipos das colunas

df.dtypes

EXERCICIO                               object
CODIGO_UNIDADE_GESTORA                  object
NUMERO_EMPENHO                          object
NUMERO_AUTORIZACAO_PAGAMENTO            object
TIPO_DESPESA                            object
DATA_PAGAMENTO                  datetime64[ns]
VALOR_PAGAMENTO                        float64
CODIGO_TIPO_DOCUMENTO                   object
DESCRICAO_TIPO_DOCUMENTO                object
NOME_CREDOR                             object
CPFCNPJ_CREDOR                          object
TIPO_CREDOR                             object
dtype: object

In [9]:
# Consultar linhas com valores faltantes

df.isnull().sum()

EXERCICIO                         0
CODIGO_UNIDADE_GESTORA            0
NUMERO_EMPENHO                    0
NUMERO_AUTORIZACAO_PAGAMENTO      0
TIPO_DESPESA                      0
DATA_PAGAMENTO                    0
VALOR_PAGAMENTO                   0
CODIGO_TIPO_DOCUMENTO             0
DESCRICAO_TIPO_DOCUMENTO          0
NOME_CREDOR                       0
CPFCNPJ_CREDOR                  427
TIPO_CREDOR                       0
dtype: int64

In [10]:
# Exibir amostra

df.sample(10)

,EXERCICIO,CODIGO_UNIDADE_GESTORA,NUMERO_EMPENHO,NUMERO_AUTORIZACAO_PAGAMENTO,TIPO_DESPESA,DATA_PAGAMENTO,VALOR_PAGAMENTO,CODIGO_TIPO_DOCUMENTO,DESCRICAO_TIPO_DOCUMENTO,NOME_CREDOR,CPFCNPJ_CREDOR,TIPO_CREDOR
5944,2021,221001,221001,34,EXTRAORÇAMENTÁRIA,2021-01-22,2500.00,AP,AUTORIZAÇÃO DE PAGAMENTO,LUCIANA MODESTO DE BRITO,000.027.904-37,Pessoa Jurídica
5939,2021,250001,250001,17108,ORÇAMENTÁRIA,2021-05-10,4128.04,AP,AUTORIZAÇÃO DE PAGAMENTO,PREFEITURA MUNICIPAL DE NATUBA,***.480.001-**,Pessoa Física
368,2021,10001,10001,783,ORÇAMENTÁRIA,2021-03-22,42884.25,AP,AUTORIZAÇÃO DE PAGAMENTO,PREFEITURA MUNICIPAL DE JOAO PESSOA,***.260.001-**,Pessoa Física
12153,2021,290001,290001,2410,ORÇAMENTÁRIA,2021-06-18,5798.39,AP,AUTORIZAÇÃO DE PAGAMENTO,MART PET COMUNICACAO LTDA,011.414.950-00,Pessoa Jurídica
1384,2021,90101,90101,1288,ORÇAMENTÁRIA,2021-02-24,161688.07,AP,AUTORIZAÇÃO DE PAGAMENTO,PBPREV PARAIBA PREVIDENCIA,061.210.670-00,Pessoa Jurídica
5319,2021,220401,220401,5726,ORÇAMENTÁRIA,2021-03-05,152.98,AP,AUTORIZAÇÃO DE PAGAMENTO,JOSE FERNANDO DA SILVA INTERAMINENSE,000.111.237-76,Pessoa Jurídica
29060,2021,330001,330001,409,EXTRAORÇAMENTÁRIA,2021-02-23,1000.00,NP,NOTA DE PAGAMENTO,MICAYO MEDEIROS DOS SANTOS,000.130.992-97,Pessoa Jurídica
10530,2021,310101,310101,209,ORÇAMENTÁRIA,2021-02-05,525.00,AP,AUTORIZAÇÃO DE PAGAMENTO,ADRIANO RODRIGUES MEDEIROS,000.109.459-65,Pessoa Jurídica
1807,2021,250001,250001,2814,ORÇAMENTÁRIA,2021-02-12,371.25,AP,AUTORIZAÇÃO DE PAGAMENTO,MARCILIO BRAZ BEZERRA,000.075.173-15,Pessoa Jurídica
4668,2021,220401,220401,12201,ORÇAMENTÁRIA,2021-04-06,100.00,AP,AUTORIZAÇÃO DE PAGAMENTO,FERNANDA DOS SANTOS TEOTONIO,000.235.405-12,Pessoa Jurídica

In [11]:
# Criar nova coluna que vai receber o mês de pagamento

df["MES_PAGAMENTO"] = df["DATA_PAGAMENTO"].dt.month

In [12]:
# Exibir amostra

df.sample(10)

,EXERCICIO,CODIGO_UNIDADE_GESTORA,NUMERO_EMPENHO,NUMERO_AUTORIZACAO_PAGAMENTO,TIPO_DESPESA,DATA_PAGAMENTO,VALOR_PAGAMENTO,CODIGO_TIPO_DOCUMENTO,DESCRICAO_TIPO_DOCUMENTO,NOME_CREDOR,CPFCNPJ_CREDOR,TIPO_CREDOR,MES_PAGAMENTO
8015,2021,270001,270001,5325,ORÇAMENTÁRIA,2021-04-19,271.25,AP,AUTORIZAÇÃO DE PAGAMENTO,JOSE FERNANDES DE LIMA ALMEIDA,000.094.852-87,Pessoa Jurídica,4
5858,2021,530001,530001,3066,ORÇAMENTÁRIA,2021-06-17,112.73,AP,AUTORIZAÇÃO DE PAGAMENTO,ATAIDES CASSIMIRO DA SILVA,000.711.105-69,Pessoa Jurídica,6
26269,2021,260101,260101,3325,EXTRAORÇAMENTÁRIA,2021-05-18,564.46,AP,AUTORIZAÇÃO DE PAGAMENTO,DETRAN DEP ESTADUAL DE TRANSITO,091.883.760-00,Pessoa Jurídica,5
29423,2021,90101,90101,3181,EXTRAORÇAMENTÁRIA,2021-04-28,55.00,AP,AUTORIZAÇÃO DE PAGAMENTO,DIANA COSME DOS SANTOS,000.700.610-95,Pessoa Jurídica,4
27716,2021,250001,250001,13652,EXTRAORÇAMENTÁRIA,2021-04-21,58.40,AP,AUTORIZAÇÃO DE PAGAMENTO,FUNDO ESTADUAL APOIO AO EMPREENDEDORISMO,133.075.270-00,Pessoa Jurídica,4
29056,2021,330001,330001,516,EXTRAORÇAMENTÁRIA,2021-02-24,1000.00,NP,NOTA DE PAGAMENTO,JOAO WICTOR FEITOSA DA SILVA,000.704.006-91,Pessoa Jurídica,2
3182,2021,110001,110001,139,ORÇAMENTÁRIA,2021-05-03,3734.50,AP,AUTORIZAÇÃO DE PAGAMENTO,VIXTEAM CONSULTORIA & SISTEMAS S A,029.607.010-00,Pessoa Jurídica,5
5729,2021,270101,270101,452,ORÇAMENTÁRIA,2021-04-26,236.88,AP,AUTORIZAÇÃO DE PAGAMENTO,CAGEPA CIA DE AGUA E ESGOTO DA PARAIBA,091.236.540-00,Pessoa Jurídica,4
19250,2021,250001,250001,3040,EXTRAORÇAMENTÁRIA,2021-02-15,136.00,AP,AUTORIZAÇÃO DE PAGAMENTO,MED E CLIN COM E REP E DISTR DE MAT MED,225.834.770-00,Pessoa Jurídica,2
5437,2021,230001,230001,431,ORÇAMENTÁRIA,2021-06-09,50.00,AP,AUTORIZAÇÃO DE PAGAMENTO,JOAO BRASILIANO DIAS DA SILVA,000.541.307-35,Pessoa Jurídica,6

In [13]:
# Conveter saída para coluna (VALOR_PAGAMENTO) com o tipo float

pd.options.display.float_format = 'R${:,.2f}'.format

In [14]:
# Retornar total pago agrupado por mês e por tipo de despesa

# df.groupby([df["MES_PAGAMENTO"], "TIPO_DESPESA"])["VALOR_PAGAMENTO"].sum().reset_index()

# Outra forma
df.groupby(['MES_PAGAMENTO', "TIPO_DESPESA"]).agg({"VALOR_PAGAMENTO":"sum"}).reset_index()

    MES_PAGAMENTO       TIPO_DESPESA  VALOR_PAGAMENTO
0               1  EXTRAORÇAMENTÁRIA R$293,438,678.03
1               1       ORÇAMENTÁRIA R$690,608,952.79
2               2  EXTRAORÇAMENTÁRIA R$331,379,824.26
3               2       ORÇAMENTÁRIA R$797,193,148.61
4               3  EXTRAORÇAMENTÁRIA R$314,291,732.24
5               3       ORÇAMENTÁRIA R$967,474,921.20
6               4  EXTRAORÇAMENTÁRIA R$292,817,987.88
7               4       ORÇAMENTÁRIA R$895,424,459.71
8               5  EXTRAORÇAMENTÁRIA R$302,492,536.50
9               5       ORÇAMENTÁRIA R$941,962,308.53
10              6  EXTRAORÇAMENTÁRIA R$207,511,085.57
11              6       ORÇAMENTÁRIA R$928,912,934.00

In [15]:
# Retornar maior valor pago a um credor agrupado por mês

# df.groupby(df["MES_PAGAMENTO"])["VALOR_PAGAMENTO"].max()

df.groupby(["MES_PAGAMENTO"]).agg({"VALOR_PAGAMENTO":"max"}).reset_index()

   MES_PAGAMENTO  VALOR_PAGAMENTO
0              1 R$136,304,104.50
1              2 R$133,058,898.92
2              3 R$130,607,696.41
3              4 R$132,595,598.34
4              5 R$146,027,388.41
5              6  R$55,633,504.44

In [16]:
# Salvar dataframe em um arquivo CSV

df.to_csv('../data/pagamento_exercicio_2021_jan_a_jun_governo_pb.csv', index=False)

In [17]:
# Salvar dataframe no banco de dados

from sqlalchemy import create_engine

con = create_engine("mysql+pymysql://root:mysql@localhost:3307/db_governo_pb",
                        encoding="utf-8")
df.to_sql('tb_pagamento_exercicio_2021', con, index = False, if_exists = 'replace', method = 'multi', chunksize=10000)

## Gráficos para análise exploratória e/ou tomada de decisão

In [ ]:
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [ ]:
# Gráfico com o total pago aos credores por mês (Janeiro a Junho)

df.groupby(df['MES_PAGAMENTO'])['VALOR_PAGAMENTO'].sum().plot.bar(title = 'Total Pago por Mês', color = 'blue')
plt.xlabel('MÊS')
plt.ylabel('RECEITA');

In [ ]:
# Gráfico com o valor máximo pago a um credor por mês (Janeiro a Junho)

df.groupby(["MES_PAGAMENTO"]).agg({"VALOR_PAGAMENTO":"max"}).plot.bar(title = 'Maior valor pago a um credor po mês', color = 'green')
plt.xlabel('MÊS')
plt.ylabel('VALOR');

In [ ]:
# Gráfico de linha exibindo a soma dos pagamentos a credores no decorrer dos meses

df.groupby(["MES_PAGAMENTO"]).agg({"VALOR_PAGAMENTO":"sum"}).plot(title = 'Total de pagamentos por mês aos credores')
plt.xlabel('MÊS')
plt.ylabel('TOTAL PAGO')
plt.legend();

In [ ]:
# Gráfico com o valor pago a credores agrupados por tipo de despesa

df.groupby(["TIPO_DESPESA"]).agg({"VALOR_PAGAMENTO":"sum"}).plot.bar(title = 'Maior valor pago a um credor po mês', color = 'gray')
plt.xlabel('MÊS')
plt.ylabel('VALOR');